<footer style="margin-top:30px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false}" style="padding-top:0px;">
                <div class="wiwet-footer_item1" style="float:left; width:100px; padding-top:20px; padding-left:40px;">
                    <p><a>Temple</a></p>
                    <p><a>Architecture</a></p>
                    <p><a>Dewasom</a></p>
                </div>
                <div class="wiwet-footer_item1" style="float:left; width:100px;padding-top:20px; padding-left:40px;">
                    <p><a>Festivals</a></p>
                    <p><a>Poojas</a></p>
                    <p><a>Amenities</a></p>
                </div>
                <div class="wiwet-footer_item1" style="float:left; width:100px;padding-top:20px; padding-left:40px;">
                    <p><a>Gallery</a></p>
                    <p><a>Music</a></p>
                    <p><a>Videos</a></p>
                </div>
                <div class="wiwet-footer_item1" style="float:left; width:100px;padding-top:20px; padding-left:40px;">
                    <p><a>Locate</a></p>
                    <p><a>Contact</a></p>
                    <p><a>Subscribe</a></p>
                    <p><a>Feedback</a></p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false}" style="padding-top:0px;text-align:right;">
                <div class="wiwet-contact_item1" style="text-align:right;margin-top:20px;display:inline-block;">
                    <div class="input-group" style="text-align:right; padding-top:10px;">
                        <ul style="text-align:right;">
                            <li style="width:30%"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li style="width:30%"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li style="width:30%"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer style="margin-top:0px;background-color:#20212b;height:40px;">
    <div class="container" style="text-align:center;">
        <div class="row" style="text-align:center;">
            <div class="col-sm-12" style="text-align:center;padding-top:0px;text-align:center;" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}" >
                <div class="wiwet-contact_item1" style="text-align:center;margin-top:15px;display:inline-block;">
                    <p style="color:#FFF28E; padding-top:0px;"><span>Kumaranalloor Devi Temple</span> - Copyright @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </div>
</footer>
