@{
    ViewBag.Title = "Architecture | Kumaranalloor Devi Temple";
}

<!-- Banner Start-->
<section class="kdt-mis_banner" style="max-height: 450px; text-align: center; background-image: url('../../Content/Images/kdt-architecture-01.jpg');">
    <!-- festivals -->
    <h1 style="vertical-align:central; padding-top:150px; color:#ffb400; font-weight: normal; font-family: Ubuntu,'Open Sans', sans-serif; font-size:36px;">ARCHITECTURE</h1>
</section>

<section class="page-wrap mis_blank_body" style="padding: 0px;">
    <div class="container">

        <!-- temple -->
        <div class="row">
            <section class="wiwet-getstarted">
                <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                    <div class="wiwet-headline">
                        <h3>TEMPLE</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="kdt-content">
                                <p>
                                    The temple is situated in space of 1.5 hectors of land. Facing the main gopuram (entrance) of the temple towards east direction and high walls surrounding the temple with other three gopurams (entrance) in each direction (south, west & north).                                     <br />
                                    <br />
                                    When you are entering the temple from east side facing the pupil tree, the temple space starts and from there you can see the main gopuram. Getting into the temple through the main gopuram you can see the golden dhwajom and the balickal pura in front with carvings of many sculptures including ganapathy and shiva and other saints on the pillars. Inside the nalambalam, sreekovil and the main mandapam infront with surrounding paths in carved stones. The temple of siva on the left side of the main sreekovil. Bhadrakali temple is situated on the south side of the temple along with the full stretched surrounding path on carved stones for the whole temple .                                     <br />
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- sreekovil -->
        <div class="row">
            <section class="wiwet-getstarted">
                <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                    <div class="wiwet-headline">
                        <h3>SREEKOVIL</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="kdt-content">
                                <p>
                                    Sreekovil is in circular shape and is a two-storied building with carved stones in basement, steps and on floor inside the sreekovil. Upper part is built in fine shaped woods like teak. Every column of wood is shaped and carved into sculptures, the roof is laid by wood panels and covered by brass plates, and the top of the roof is decorated and is in conical shape.                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- nalambalam -->
        <div class="row">
            <section class="wiwet-getstarted">
                <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                    <div class="wiwet-headline">
                        <h3>NALAMBALAM</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="kdt-content">
                                <p>
                                    Inside the gopurams and outer walls the whole temple structure is covered with another two layers of walls and are known as nalambalam. The first layer of the nalambalam is decorated with copper lamps, where illumination(chuttu villaku) offering is conducted by lighting the full lamps. The innerside of the nalambalam is divided into several rooms for storing the materials.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- balickalpura -->
        <div class="row">
            <section class="wiwet-getstarted">
                <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                    <div class="wiwet-headline">
                        <h3>BALICKALPURA</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="kdt-content">
                                <p>
                                    Balickal pura is at the backside of the flagstaff leading the way inside to the temple . The central part of the balickal pura has a big altara stone(balickal), where special poojas and rituals are offered during the daily poojas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- mandapam -->
        <div class="row">
            <section class="wiwet-getstarted">
                <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                    <div class="wiwet-headline">
                        <h3>MANDAPAM</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="kdt-content">
                                <p>
                                    The main namaskara mandapam is in the central part of the nalambalam infront of the sreekovil. The mandapam have four main fully wooden carved supports and with a size of 60 cm width and 180 cm height. The carving on this support is fine and unique. The mandapam have other 12 supports with sculptures carved on it as the different styles of devi and other devas. The top plat form of the mandapam is arranged with wooden carved darushilpams and other devi's sculptures.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- gopuram -->
        <div class="row">
            <section class="wiwet-getstarted">
                <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                    <div class="wiwet-headline">
                        <h3>GOPURAM</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="kdt-content">
                                <p>
                                    There are four gopurams in the temple . The main gopuram is facing east direction and other three are facing south,west&north directions. The gopuram is a two-storied structure built on fine carved stone and wood.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <!-- sculptures -->
        <div class="row">
            <section class="wiwet-getstarted">
                <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                    <div class="wiwet-headline">
                        <h3>SCULPTURES</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="kdt-content">
                                <p>
                                    Sculptures are carved on the main gopuram and mandapam inside the temple. The main gopuram has different types of sculptures carved on stone and wood describing saints and worshippers. Wooden carved sculptures describing the forms of devi and devas, other protectors of the temple like dwarapalaka's, and vyali's found inside the temple on the main mandapam and sreekovil.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- murals -->
        <div class="row">
            <section class="wiwet-getstarted">
                <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                    <div class="wiwet-headline">
                        <h3>MURALS</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="kdt-content">
                                <p>
                                    Mural paintings in kumaranalloor temple are precious and rare. The outer walls of the sreekovil decorated with paintings describing the different styles of deva, devi's, and incidents from great epics like ramayan and mahabharath. Natural colours and medicinal plants is used to paint the murals.
                                </p>

                                <br />
                                <h5>KAARTHYAYANI DEVI</h5>
                                <p>
                                    Sculptures are carved on the main gopuram and mandapam inside the temple. The main gopuram has different types of sculptures carved on stone and wood describing saints and worshippers. Wooden carved sculptures describing the forms of devi and devas, other protectors of the temple like dwarapalaka's, and vyali's found inside the temple on the main mandapam and sreekovil. 
                                </p>

                                <br />
                                <h5>GANAPATHY & SARASWATHI</h5>
                                <p>
                                    The mural describes lord ganapathy and saraswathi. Lower part of the mural describes poojas and preparations for the pooja by the priest. 
                                </p>

                                <br />
                                <h5>DANCE OF SHIVA</h5>
                                <p>
                                    Mural describes the famous dance of lord shiva and this style of lord shiva is known as “nataraja” meaning supreme dancer. this form of lord shiva is voracious and is considered as the most powerfull one. the nataraja style has sixteen hands with sixteen types of weapons and the asura(devil) at the feats. the mural describes the lord shiva in the nataraja form consoling whole the world in him and is being praised by whole world. 
                                </p>

                                <br />
                                <h5>DURGA DEVI</h5>
                                <p>
                                    Mural describes durga devi (sakthi swaroopini) 
                                </p>

                                <br />
                                <h5>VENU GOPAL</h5>
                                <p>
                                    Mural describes lord sri krishna with gopikas around him.
                                </p>

                                <br />
                                <h5>DAKSHINA MURTHY</h5>
                                <p>
                                    Mural describes another style of lord shiva known as dakshina murthy.
                                </p>

                                <br />
                                <h5>FIVE FACED GAYATHRI</h5>
                                <p>
                                    Mural describes different styles of devi. center part describes devi with five face and on the right side devi as durga mounting on lion and on the left side devi as thripura sundari(most beautiful women). 
                                </p>

                                <br />
                                <h5>SASHTA ON HUNT</h5>
                                <p>
                                    Mural describes lord sastha (ayyappa) on hunt with servents and followers. also the mural describes the hunting process including the preparation and the result. 
                                </p>

                                <br />
                                <h5>SREE RAMA PATTABHISHEKAM</h5>
                                <p>
                                    The mural describes the royal swearing in of lord sri rama with wife sita in the presence of brothers and followers. 
                                </p>

                                <br />
                                <h5>LORD SREERAMA IN WAR WITH RAVANA</h5>
                                <p>
                                    Mural describes the war scene from the great epic ramayan. lord sree rama is facing the asura king ravana 
                                </p>

                                <br />
                                <h5>VEERA RAMA</h5>
                                <p>
                                    Mural describes victorious lord sree rama after killing the asura king ravana. 
                                </p>

                                <br />
                                <h5>HANUMAN AT RAVANA'S PALACE</h5>
                                <p>
                                    Mural describes a scene from epic ramayan where hanuman meets the great asura king ravana in his palace. 
                                </p>

                                <br />
                                <h5>GAJENDRA MOKSHAM</h5>
                                <p>
                                    Mural describes the story from the great epic mahabharath where the great king ambareesha got a course and becoming an elephant. when the elephant is drinking water, a crocodile attacks and he were injured. lord maha vishnu helps him out of the danger by killing the crocodile. 
                                </p>

                                <br />
                                <h5>SAPTHARSHIS</h5>
                                <p>
                                    Mural describes the scene in which saptharshi's praising lord dakshina murthy. 
                                </p>

                                <br />
                                <h5>PARVATHY CHAMAYAM</h5>
                                <p>
                                    Mural describes the dressing procedure and make up of devi parvathy before the marriage with lord shiva. 
                                </p>

                                <br />
                                <h5>SAKTHI PANCHAKSHARI</h5>
                                <p>
                                    Mural desrcribes lord shiva and parvathy along with two sons ganapathy and subramanya and bhuthaganas around them in kailasam. 
                                </p>

                                <br />
                                <h5>SANTI DURGA</h5>
                                <p>
                                    Mural describes another style of devi with peace and prosperity on her divine face. 
                                </p>

                                <br />
                                <h5>SANKARA NARAYANAN</h5>
                                <p>
                                    Mural describes a rare concept called sankara narayan. sankara narayan is the concept of half lord shiva and another half lord maha vishnu. 
                                </p>

                                <br />
                                <h5>ARDHANAREESHWARAN</h5>
                                <p>

                                </p>

                                <br />
                                <h5>DWARA KALI</h5>
                                <p>
                                    Dwara kali is the concept of protectors of the temple . 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>