
@{
    ViewBag.Title = "Error - Something went wrong!";
}

<!-- Banner Start-->
<section class="kdt-mis_banner" style="max-height: 450px; text-align: center; background-image: url('../../Content/Images/kdt-poojas-02.jpg');">
    <!-- poojas -->
    <h1 style="vertical-align:central; padding-top:150px; color:#ffb400; font-weight: normal; font-family: Ubuntu,'Open Sans', sans-serif; font-size:36px;">POOJAS</h1>
</section>

<section class="page-wrap mis_blank_body" style="padding: 0px;">
    <div class="container">
        <!-- daily poojas -->
        <div class="row">
            <section class="wiwet-getstarted" style="text-align:center;">
                <h2>Error - Something went wrong!</h2>
                <br />
                <h5>Sorry for the inconvenience caused. We will fix it at the earliest!</h5>
            </section>
        </div>
    </div>
</section>

