@{
    ViewBag.Title = "Events | Kumaranalloor Devi Temple";
}

<!-- Banner Start-->
<section class="kdt-mis_banner" style="max-height: 450px; text-align: center; background-image: url('../../Content/Images/kdt-events-02.jpg');">
    <!-- festivals -->
    <h1 style="vertical-align:central; padding-top:150px; color:#ffb400; font-weight: normal; font-family: Ubuntu,'Open Sans', sans-serif; font-size:36px;">EVENTS</h1>
</section>

<section class="page-wrap mis_blank_body" style="padding: 0px;">
    <div class="container">

        <!-- events -->
        <section class="wiwet-question">
            <div class="container">
                <div class="wiwet-headline">

                    <h2>Questions?</h2>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false}">
                                <div class="panel-heading" role="tab" id="headingTwo">

                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            How much is the cost-of-living adjustment (COLA)?
                                            <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                                        </a>
                                    </h4>

                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                                </div>
                            </div>
                            <div class="panel panel-default" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false}">
                                <div class="panel-heading" role="tab" id="headingThree">

                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How do I apply for a new or replacement Security number card?
                                            <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                                        </a>
                                    </h4>

                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false}">
                                <div class="panel-heading" role="tab" id="headingfour">

                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                                            How do I apply for Social Security retirement benefits?
                                            <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                                        </a>
                                    </h4>

                                </div>
                                <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false}">
                                <div class="panel-heading" role="tab" id="headingfive">


                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseTwo">
                                            What happens if I work and get Social Security retirement benefits?
                                            <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                                        </a>
                                    </h4>


                                </div>
                                <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false}">
                                <div class="panel-heading" role="tab" id="headingsix">

                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
                                            How can I get a benefit verification letter?
                                            <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                                        </a>
                                    </h4>

                                </div>
                                <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.


                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false}">
                                <div class="panel-heading" role="tab" id="headingseven">


                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="collapseThree">
                                            How long will it take to get a Social Security card?
                                            <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                                        </a>
                                    </h4>


                                </div>
                                <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.


                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false}">
                                <div class="panel-heading" role="tab" id="headingeight">


                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeight" aria-expanded="false" aria-controls="collapseTwo">
                                            How do I apply for Social Security retirement benefits?
                                            <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                                        </a>
                                    </h4>


                                </div>
                                <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">


                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>