@{
    ViewBag.Title = "Gallery | Kumaranalloor Devi Temple";
}

<section class="kdt-mis_banner" style="max-height: 450px; text-align: center; background-image: url('../../Content/Images/kdt-gallery-01.jpg');">
    <!-- gallery -->
    <h1 style="vertical-align:central; padding-top:150px; color:#ffb400; font-weight: normal; font-family: Ubuntu,'Open Sans', sans-serif; font-size:36px;">GALLERY</h1>
</section>

<section class="page-wrap mis_blank_body" style="padding: 0px;">
    <div class="container">

        <!-- thrikarthika -->
        <div class="row">
            <section class="wiwet-getstarted">
                <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                    <div class="wiwet-headline">
                        <h3>COMING SOON</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="kdt-content">
                                <p>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>