@{
    ViewBag.Title = "Temple | Kumaranalloor Devi Temple";
}

<!-- Banner Start-->
<section class="kdt-mis_banner" style="max-height: 450px; text-align: center; background-image: url('../../Content/Images/kdt-temple-01.jpg');">
    <!-- temple -->
    <h1 style="vertical-align:central; padding-top:150px; color:#ffb400; font-weight: normal; font-family: Ubuntu,'Open Sans', sans-serif; font-size:36px;">TEMPLE</h1>
</section>

<section class="page-wrap mis_blank_body" style="padding: 0px;">
    <div class="container">
            <!-- introduction -->
            <div class="row">
                <section class="wiwet-getstarted">
                    <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                        <div class="wiwet-headline">
                            <h3>INTRODUCTION</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <p>
                                        Kumaranalloor Devi temple is considered as one of the most important Devi temples among the 108 Durgalayas (Devi temples) in Kerala. The temple is said to be more than 2400 years old, as per historical and mythological evidences as well as other sources of information. The architecture of the temple is notable for the unique structure of the nalambalam and sreekovil both of which have been built in the sreechakra style (ring like object with a handle, which is placed in the right hand of the Devi). This kind of architecture is rarely found in temple architecture.
                                        <br />
                                        <br />
                                        The temple is situated in area of 15,000 square metres. The main gopuram (entrance) of the temple faces towards the east rection, and high walls surrounding the temple with other three gopurams (entrance) in each direction (south, west & north). While entering the temple, the temple view presents a divine picture. Getting into the temple through the main gopuram one can see the golden dhwajom (flag staff) and the balickal pura with carvings of many sculptures including those of Ganapathy and Shiva and other saints on pillars. Inside the nalambalam, sreekovil and the main mandapam are surrounded by paths made of carved stones. The temple of Shiva is on the right side of the main sreekovil. Bhadrakali temple is situated on the south of the temple along with the full stretched surrounding path on carved stones for the whole temple.
                                        <br />
                                        <br />
                                        The important festival of the temple is Thrikkarthika celebrated in the month of Vrischikam (November–December). On the Karthika day it is usual to make a nivedyam (offering) in the precincts of the Udayanapuram and Thrissur Vadakkunnatha temples. The story goes that the Gods in these two temples, greatly charmed by the beauty of the Devi returning after her Karthika bath. They came out of the temples, got over the compound walls, and stood there looking amorously at the seductive figure of the passing Devi, and the temple priest who ran helterskelter in search of the Gods, finally met them on the walls at the southern end of the temples. Thenceforth, during Karthika, puja is performed over the walls of these temples. The display of lights in the evening, called Karthika Vilakku, is the highlight of this celebration.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- history -->
            <div class="row">
                <section class="wiwet-getstarted">
                    <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                        <div class="wiwet-headline">
                            <h3>HISTORY</h3>
                        </div>
                        <div class="row">
                            <!-- early history -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>EARLY HISTORY</h5>
                                    <p>Kumaranalloor is an ancient cultural center. This place was known as ‘thingalkkadu', before the temple . By time the name ‘thingalkkadu' changed and later known as ‘indu kananam'. In some ancient scripts, this temple is described and known as mahishari kovil ( temple ).</p>
                                </div>
                            </div>

                            <!-- Period of perumal -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>PERIOD OF PERUMAL</h5>
                                    <p>
                                        Kumaranalloor is an ancient cultural center. This place was known as ‘thingalkkadu', before the temple . By time the name ‘thingalkkadu' changed and later known as ‘indu kananam'. In some ancient scripts, this temple is described and known as mahishari kovil ( temple ).
                                        <br />
                                        <br />
                                        As per the historical evidences, the temple was built by the great kerala king cheraman perumal. During this period, the temple was installed and the assets for this temple were given by the king perumal. He formed the ooranma and other nattukuttams(group of villages) for the day to day activities of the temple and for the villages surrounding the temple .
                                        <br />
                                        <br />
                                        During this period kumaranalloor became one of the malayala gramam(village). King perumal built the necessary activity centers belonging to the temple . This temple was the epic center of social, cultural and potical activities. During his generations in power, kumaranalloor temple and village had all the privileges and his keen interest and faith in kumaranalloor devi made the temple famous.
                                    </p>
                                </div>
                            </div>

                            <!-- Period of perumal -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>PERIOD OF CHEMPAKASSERI</h5>
                                    <p>
                                        Chempakasseri was one of the great rulers of south kerala . Chempakassery kingdom extents from the far south to the central parts of kerala along the coastal line. This dynasty gave full encouragements for the social and cultural development of these areas during their rule. Ambalapuzha was the capital of chempakassery dynasty.
                                        <br />
                                        <br />
                                        The great chempakassery king was born in kudamaloor a near place to kumaranalloor and he was a brahmin and started his studying vedas and shastras in kumaranalloor after his upanayanam. He started his life worshipping kumaranalloor devi and later he became the great king and shifted his capital to ambalapuzha.
                                        <br />
                                        <br />
                                        During this period, the great poets and sculptures visited his court in ambalapuzha and stayed with him. Kudamaloor was the ancestral home of chempakasery and all of these poets and famous people used to come to kumaranalloor devi temple during their visit at kudamalloor. Great poets like kunchan nambiar, melpathoor narayanan namboothiri etc… had visited the temple during the chempakassery era.
                                    </p>

                                </div>
                            </div>

                            <!-- Period of travencore rule -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>PERIOD OF TRAVANCORE RULE</h5>
                                    <p>
                                        The great rulers of travancore dynasty are worshipers of kumaranalloor devi. The great king swathy thirunal visited the temple , wrote a hymn on devi. The hymn is famous and used by the karnatik musicians all over the world. The great king and brother of maharaja swathy thirunal, maharaja marthanda varma laid the new three-domed ornamental cap on the top of the sreekovil in malayalam year 1024. The great maharaja of travancore was the friend of mahathma gandhi and gave him the advice to visit the kumaranalloor temple . The great diwan of travancore sir cp ramaswamy iyer came to kumaranalloor after the great temple proclamation and preceded a meeting of villagers in front of the temple .
                                        <br />
                                        <br />
                                        Every year the travancore maharajas used to visit the temple and give the valuables as offerings to devi. Still the customs are going on and on the day of karthika the main day of the yearly festival the travancore representatives comes to the temple with offerings.
                                    </p>
                                </div>
                            </div>

                            <!-- gandhi's visit -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>GANDHI'S VISIT</h5>
                                    <p>
                                        After the temple entry proclamation on 27 thulam 1112, by his hines sri. Chitra thirunal maharaja of travancore , kumaranalloor temple was opened before the harijans and allowed them to worship. After this, sir c p ramaswamy iyer the diwan of travancore visited the temple and presided a meeting held here.
                                        <br />
                                        <br />
                                        Followed by this incident, father of our nation mahatma gandhi came to travancore. As per the suggestions of maharaja sri.chitra thirunal, gandhiji visited the temple and had darshan. He visited kumaranalloor devi temple on 19 th january 1937 .
                                        <br />
                                        <br />
                                        He looked at the idol of devi, without winking his eyes, for about 15 minutes. His eyes were filled with tears. He bowed at the feet of devi on the steps.
                                    </p>
                                </div>
                            </div>

                            <!-- political & administrative setup -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>POLITICAL & ADMINISTRATIVE SETUP</h5>
                                    <p>
                                        Kumaranalloor is one among the 32 villages in malayalakara (kerala). Kumaranalloor devi temple is the village temple of kumaranalloor .
                                        <br />
                                        In early days pazhur paduthodu namboothiri and vattappalli & kunnath moosath has some special rights in temple administrations. Ooralans are from 28 illams in and around Kumaranalloor. ‘munnussery nattukoottam' (1000 nairs from perumbaikkattussery, malloossery,nattassery karas) also had some rights in temple customs and running.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- upadevadas -->
            <div class="row">
                <section class="wiwet-getstarted">
                    <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                        <div class="wiwet-headline">
                            <h3>UPADEVADAS</h3>
                        </div>
                        <div class="row">
                            <!-- shiva -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>SHIVA</h5>
                                    <p>
                                        It is said that, at first in kumaranalloor only shiva temple was existed and cherman perumal built the devi temple along side of the shiva temple . Shiva is also having full poojas daily and it is the custom that before seeing devi every body has to see shiva in kumaranalloor temple . Dhara(abhishekam) and kuvalam leaf malas are the main offerings.
                                    </p>
                                </div>
                            </div>

                            <!-- manibhooshan -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>MANIBHOOSHAN</h5>
                                    <p>
                                        Manibhooshan is lord ayyappa (lord of shabarimala) and is located on the left side of the main mandapam. Lord ayyappa is worshipped by followers all around the world for well wish and happiness. People believe that lord ayyappa rescues them from shani doshas(sins) as per indian astrology. Lighting the lamp in side the broken coconut and archana are the main offerings.
                                    </p>
                                </div>
                            </div>

                            <!-- aalingal bhagavathy -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>AALINGAL BHAGAVATHY</h5>
                                    <p>
                                        Aalingal bhavathy is devi kaali(another figure of durga).devi kaali is considered as oograrupini means vigorous. Hence, the devi idol is on the bed of the pupil tree the devi's is called as aalingal bhagavathy. People worship devi to protect them self from enemy and other sinful organs. Guruthy and raktha archana(archana with blood colored material) are the main offerings.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- keezhedams -->
            <div class="row">
                <section class="wiwet-getstarted">
                    <div class="container" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false}">
                        <div class="wiwet-headline">
                            <h3>KEEZHEDAMS</h3>
                        </div>
                        <div class="row">
                            <!-- manjoor devi temple -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>MANJOOR DEVI TEMPLE</h5>
                                    <p>
                                        The perumal became agitated a little by anger to devi when he heard ‘kumaranalla ooril'. Yet he stated to udayanapuram to install the idol of kumaran. On the way, when their country boat (kettuvallam) reached a void field, the atmosphere was so misty that nobody could move further. Perumal prayed devi. He realized the cause of mist was the divine power of the thejas he had seen earlier inside the kumaranalloor temple . He contemplated and requested the thejas to remove the mist. He offered devi, the land within the reach of his sight, also offered to install an idol of devi there also. He scooped a handful of water. At that time, a hand appeared on the surface of water before him, received the perumals offerings as water, and disappeared. Soon the mist was removed.
                                        <br /><br />
                                        Perumal continued his journey and reached udayanapuram. He installed the idol of kumara there. The place where mist appeared and removed, later known as ‘manjoor' meaning place of mist. The field where the hands appeared to perumal., later known as ‘thrikkaikandam' meaning ‘field of holy palm'. Perumal built a temple there as he offered. The important festival at the manjoor temple is ‘pattu utsavam', celebrates in the malayalam month ‘thulam' every year.
                                    </p>
                                </div>
                            </div>

                            <!-- chengalam devi temple -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>CHENGALAM DEVI TEMPLE</h5>
                                    <p>
                                        Chengalam is 5 km away from kottayam on the kumarakom route . This temple is part of the kumaranalloor ooranma devaswom. Festival incorporating the prathishta dinam on atham star in kumbham for three days is the major festival.
                                    </p>
                                </div>
                            </div>

                            <!-- perumthuruthu sreekrishna swamy temple -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>PERUMTHURUTHU SREEKRISHNA SWAMY TEMPLE</h5>
                                    <p>
                                        This temple is in perumthuruth village near kallara. Lord krishna is the main idol and the temple has a rich history. Ashtamirohini, rohini in medam malayala month are the major festival days. Pasting of sandal wood paste and palpayasam are main offerings.
                                    </p>
                                </div>
                            </div>

                            <!-- chengalam devi temple -->
                            <div class="col-sm-12">
                                <div class="kdt-content">
                                    <h5>CHENGALAM DEVI TEMPLE</h5>
                                    <p>
                                        Chengalam is 5 km away from kottayam on the kumarakom route . This temple is part of the kumaranalloor ooranma devaswom. Festival incorporating the prathishta dinam on atham star in kumbham for three days is the major festival.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
</div>
</section>
