/*

  WIWET.com - ASP.NET Templates

  Monkey Template

*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu);



body {
    font-family: Ubuntu,'Open Sans', sans-serif;
    color: #333;
    /*background-color: #ebedf7;*/
}
img {
	width:100%;
	height:100%;
	display:block;
	max-width:100%;
}

a {
	color: #789;
	text-decoration:none;
	line-height:100%;
}
a:hover, a:focus {
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	line-height:100%;
	margin:0;
	padding:0;
}
p {
	line-height:100%;
	margin:0;
	padding:0;
}

/**************Header area start***************/
header{
	background:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}
.navbar-brand {
    padding:5px;
	width:180px;
	padding-left:15px;
	height:40px;
}
.navbar-brand > img {
	width:114px;
	height:31px;
}
.navbar-inverse {
	margin-top:20px;
	background:none;
	border:none;
    font-size: 18px;
    /*font-weight: bold;*/
}
    .navbar-inverse .navbar-nav > li > a {
        color: #9D0017;
        padding: 10px 20px;
    }
    .navbar-inverse .navbar-nav > li > a:hover {
        text-decoration:underline;
        color:#b01000
    }
    .navbar-inverse .navbar-nav > li > .active {
        text-decoration: underline;
        color: #b01000;
        /*border-radius: 20px;*/
    }
    .navbar-inverse .navbar-nav > li > .wiwet-nav_button {
        background: #9D0017;
        color: #ffb400;
        font-weight: bold;
    }
.navbar-inverse .navbar-nav > li > .wiwet-nav_button:hover{
	color:#fff;
	background: #22ddbc;
}

/****hide manue start****/
.sidebar-nav {
	position: absolute;
	top: 0;
	width:100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li a {
	line-height: 50px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999;
	letter-spacing:2px;
	text-align:center;
}
.sidebar-nav li .active {
	color:#22ddbc;
}
.sidebar-nav li a:hover{
	color: #22ddbc;
}
.sidebar-nav li .wiwet-nav_button {
	background: #22ddbc;
	color: #000;
	font-weight: bold;
}
.sidebar-nav li .wiwet-nav_button:hover{
	color: #fff;
}

.sidebar-nav li a span{
	border-bottom: 2px solid rgba(114, 20, 255, 0);
	padding-bottom:5px;
}
.sidebar-nav li a:hover span{
	border-bottom: 2px solid #7214FF;
}
.wiwet-sidenav_active a span{
	border-bottom: 2px solid #7214FF !important;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	font-size: 22px;
	font-weight: 700;
	padding-top: 37px;
	padding-bottom:60px;
}
.sidebar-nav > .sidebar-brand img{
	width:180px;
	margin:0 auto;
}
.sidebar-nav > .sidebar-brand a {
	color: #999;
	padding-left: 22px;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#menu-toggle {
	z-index:1000000;
	position: absolute;
	top: 10px;
    /*kdt-change*/
	/*right: 10px;*/
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	right:-100%;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: rgba(0, 0, 0, 0.89);
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
#sidebar-wrapper.active {
	right:0px;
	width:100%;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	display: block;
}


.toggle {
	text-decoration:none;
	cursor:pointer;
}


    .toggle:before {
        font-family: Ubuntu,'Open Sans', sans-serif;
        margin: 15px 15px 0 0;
        content: "\f0c9";
        font-size: 36px;
        color: #ffc416;
        /*kdt-change*/
        /*padding-left:10px;*/
    }

    .toggle.active:before {
        font-family: Ubuntu,'Open Sans', sans-serif;
        margin: 15px 15px 0 0;
        content: "\f00d";
        font-size: 36px;
        color: #FFF;
    }

.scroll-btn .mouse {
	position: relative;
	display: inline-block;
	width: 35px;
	height:50px;
	margin: 0 auto 5px;
	border: 2px solid #fff;
	border-radius: 24px;
}
.scroll-btn .mouse span {
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	width: 5px;
	height: 8px;
	margin: -10px 0 0 -2px;
	background: #fff;
	border-radius: 20px;
	-webkit-animation: scroll 2s linear infinite;
	-moz-animation: scroll 2s linear infinite;
	animation: scroll 2s linear infinite;
}
 @-webkit-keyframes scroll {
1% {
opacity: 1;
top: 30%;
}
20% {
opacity: 1;
top: 50%;
}
60% {
opacity: 0;
top: 50%;
}
100% {
opacity: 0;
top: 30%;
}
}
@-moz-keyframes scroll {
1% {
opacity: 1;
top: 30%;
}
20% {
opacity: 1;
top: 50%;
}
60% {
opacity: 0;
top: 50%;
}
100% {
opacity: 0;
top: 30%;
}
}
@keyframes scroll {
1% {
opacity: 1;
top: 30%;
}
20% {
opacity: 1;
top: 50%;
}
60% {
opacity: 0;
top: 50%;
}
100% {
opacity: 0;
top: 30%;
}
}
.wiwet-side_nanigation{
	display:none;
}

/*****hide manue End****/
/**************Header area End***************/

/**************Banner area start***************/
.mis_banner {
    background: url(../Images/kdt-bg-05.jpg) center bottom no-repeat;
    background-size: cover;
    /*kdt-edit*/
    /*padding-top: 94px;
    max-height: 400px;*/
    padding-top: 70px;
    height: 300px;
    top: 60px;
}
.mis_banner .col-xs-12{
	padding-top:120px;
	padding-bottom:260px;
}
.mis_banner h1{
	color: #22ddbc;
	text-align:center;
	line-height:140%;
	font-weight:bold;
	font-size:60px;
}



/**************Banner area End***************/



/**************feature area start***************/
.wiwet-feature{
	padding-top:20px;
}
.wiwet-headline{
	text-align:center;
}
.wiwet-headline h4{
	/*color:#353847;*/
	font-weight:normal;
    color: #9D0017;
}
.wiwet-feature .col-sm-4 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.wiwet-feature_item1{
	text-align:center;
}
.wpm_feature_icon{
	text-align:center;
	position:relative;
	width:200px;
	margin:0 auto;
}
.wpm_feature_icon i{
	color:#353847;
	font-size:100px;
	z-index: 100;
}
.wpm_feature_icon:before{
	content: "";
	position:absolute;
	width:100px;
	height:100px;
	left:47px;
	top:0px;
	background:#FFF;
	border-radius: 50%;
	z-index: -1;
}
.wiwet-feature_item1 h3{
	padding-top:150px;
	font-weight:bold;
}
.wiwet-feature_item1 p{
	padding-top:5px;
	font-size:18px;
	line-height:160%;
}


/**************feature area End***************/


/**************element area start***************/
.wiwet-element{
	margin-top:70px;
	padding:70px 0px;
	background:#353847;
}
.wiwet-element .nav-tabs {
	border:none;
	position:relative;
}
.wiwet-element .nav-tabs:before{
	content: "";
	width:920px;
	height:5px;
	background:#ffb400;
	position:absolute;
	left:0px;
	bottom:-1px;
}
    .wiwet-element .nav-tabs > li > a {
        background: none;
        border: none;
        color: #ffb400;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 60px 15px;
        border-bottom: 5px solid #ffb400;
    }
        .wiwet-element .nav-tabs > li > a:hover {
            background: none;
            border: none;
            color: #ff6e00;
            border-bottom: 5px solid #ff6e00;
        }
    .wiwet-element .nav-tabs > li.active > a {
        background: none;
        border: none;
        color: #b01000;
        border-bottom: 5px solid #b01000;
    }
.wiwet-element .tab-content{
	padding-top:50px;
}
.wiwet-element h4{
	color:#fff;
	font-weight:bold;
}
.wiwet-element p{
	color:#fff;
	line-height:200%;
	padding-top:20px;
	font-size:16px;
	padding-bottom:40px;
}
.wiwet-element .tab-content a{
	background:#22ddbc;
	padding:10px 25px;
	color:#353847;
	font-weight:bold;
}
.wiwet-element .tab-content a:hover{
	color:#22ddbc;
	background:#fff;
}

.wiwet-element_pic{
	margin-top:20px;
}
.wiwet-responssive_block{
	display:none;
}
.wiwet-responssive_none{
	display:block;
}
.wiwet-element .nav-tabs > li > a i{
	display:none;
}



/**************element area End***************/



/**************Question area start***************/
.wiwet-question{
	padding-top:70px;
}
.wiwet-question .wiwet-headline{
	text-align:left;
}
.wiwet-question .panel-group{
	padding-top:40px;
}
.panel-heading {
    padding: 0px;
    height: 30px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 20px;
}
.panel-default > .panel-heading {
    background-color: #fff;
	border:none;
}
.wiwet-question .panel-title > a{
	display:block;
	padding: 13px 60px 13px 15px;
	position:relative;
	line-height:140%;
}
.wiwet-icon_possion{
	position:absolute;
	top:0px;
	right:0px;
	height:100%;
    padding-top:8px;
}
.wiwet-question .panel-title > a i{
	color:#000;
	float:right;
	background:#22ddbc;
	font-size:24px;
	width:40px;
	height:100%;
	text-align:center;
	padding-top:28%;
}
.panel-group .panel {
    margin-bottom:15px;
}


.wiwet-question .fa{
	display:none;
}
.wiwet-question .fa-angle-up{
	display:block;
}
.wiwet-question .collapsed .fa-angle-down{
	display:block;
}
.wiwet-question .collapsed .fa-angle-up{
	display:none;
}




/**************Question area End***************/




/**************getstarted area start***************/
.wiwet-getstarted {
    /*kdt-edit*/
    margin-top: 70px;
    padding: 70px 0px;
    background-color: #fff28e;
    margin-top: 30px;
    padding: 30px 0px;
    color: #b01000;
    text-align: left;
    /*opacity: .6;*/
    /*border-radius: 20px;*/
    /*-moz-box-shadow: 0 0 1px 1px #ffd716;
    -webkit-box-shadow: 0 0 1px 1px #ffd716;
    box-shadow: 0 0 1px 1px #ffd716;*/
    box-shadow: 7px 7px 5px #e2e2e2;
}
.wiwet-getstarted_item1{
	text-align:center;
	max-width:457px;
	margin:0 auto;
	padding-top:30px;
}
.wiwet-getstarted_item1 p{
	font-size:16px;
	line-height:200%;
}
.wiwet-getstarted .input-group{
	max-width:320px;
	margin:0 auto;
	margin-top:20px;
}
.wiwet-getstarted .input-group-btn:last-child > .btn{
	width:120px;
	height:32px;
	background: center center #ffb400;
	border:none;
	border-radius: 3px;
    color: #500900;
}
.wiwet-getstarted .input-group-btn {
	width:50px;
	border-radius: 0px;
}
.wiwet-getstarted .form-control {
	border:none;
	border-radius: 0px;
}

/**************getstarted area End***************/


/**************contact area start***************/
.wiwet-contact{
	padding:80px 0px;
	background:#353847;
}
.wiwet-contact .wiwet-headline h2{
	color:#fff;
}
.wiwet-contact_item1{
	margin-top:40px;
}
.wiwet-contact_item1 ul{
	margin:0;
	padding:0;
	max-width:276px;
	margin:0 auto;
}
.wiwet-contact_item1 ul li{
	float:left;
	list-style-type:none;
	padding:0px 15px;
}
    .wiwet-contact_item1 ul li a {
        font-size: 36px;
        color: #353847;
        background: #fff28e;
        text-align: center;
        border-radius:3px;
    }
        .wiwet-contact_item1 ul li a:hover {
            color: #b01000;
            background: #fff28e;
        }
.wiwet-contact_item1 ul li a i{
	width:60px;
}

/**************contact area End***************/


/**************footer area start***************/
footer{
	width:100%;
	background:#303240;
	padding-bottom:30px;
    margin-top: 30px;
}
footer .col-sm-4, footer .col-sm-12{
	padding-top:30px;
}
.wiwet-footer_item1 h4{
	color:#fff;
	font-weight:bold;
}
.wiwet-footer_item1 p{
	color:#7d7d7d;
	padding-top:5px;
}
.wiwet-footer_item2 p{
	color:#fff;
	text-align:center;
	padding-top:10px;
}
.wiwet-footer_item2 span{
	color:#ffb400;
}
.wiwet-footer_item3 img{
	float:right;
	max-width:93px;
}



/**************footer area End***************/



/**************************************************Blank page start************************************************************/
.mis_blank_header {
    /*kdt-change*/
    /*background: #303240;*/
    background: #ffb400;
    opacity: .8;
}

.mis_blank_header .navbar-inverse{
	margin:0;
	padding:10px 0px;
}
.mis_blank_header .navbar-brand {
    width: 134px;
}
.mis_blank_body{
	padding:100px 0px;
	text-align:center;
    display: block;
}
.mis_blank_body:after {
  content: "";
  display: block;
}
.mis_blank_body p{
	padding-top:20px;
}
.stiky_footer{
	position:absolute;
	bottom:0px;
	left:0px;
}




* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -98px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 98px; 
}


/**************************************************Blank page End************************************************************/

.kdt_main_image {
    -moz-box-shadow: 0 0 5px 5px #f7842d;
    -webkit-box-shadow: 0 0 5px 5px#f7842d;
    box-shadow: 0 0 5px 5px #f7842d;
}

.kdt_main_image_general {
    -moz-box-shadow: 0 0 2px 2px #dcdcdc;
    -webkit-box-shadow: 0 0 2px 2px #dcdcdc;
    box-shadow: 0 0 2px 2px #dcdcdc;
}

.kdt-content {
    font-size: 14px;
    line-height: 1.2;
    justify-content: space-between;
}

    .kdt-content p {
        line-height: 20px;
        justify-content: space-between;
        text-justify: inter-word;
        color: #b01000;
        line-height: 25px;
        padding-left: 40px;
        padding-right: 40px;
    }

.kdt-page-title {
    color: #b01000;
}

.kdt-content h5 {
    padding-left: 40px;
    padding-top: 30px;
}

.kdt-mis_banner {
    background-size: cover;
    width: 100%;
    text-align: center;
    height: 300px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.kdt-table-01 {
    text-align: center;
    border: none;
    border-bottom: 1px solid #fadf60;
    /*border-bottom:1px solid #ffb400;*/
    width: auto;
}
.kdt-table-cell-01-time {
    float: left;
    width: 50%;
    text-align: right;
    padding-right:5px;
}
.kdt-table-cell-01-pooja {
    text-align: left;
    width: auto;
    padding-left: 5px;
}
.kdt-table-row-01 {
    text-align: center; 
    padding-top: 5px;
    width: 100%;
    min-height:30px;
}
.kdt-table-cell-01-diety {
    text-align: left;
    min-width: 10%;
    padding-left: 5px;
    float:left;
}
.kdt-table-cell-01-offering {
    text-align: left;
    min-width: 30%;
    padding-left: 5px;
    float: left;
}
.kdt-table-cell-01-materials {
    text-align: left;
    min-width: 20%;
    padding-left: 5px;
    float: left;
}
.kdt-table-cell-01-amount {
    text-align: center;
    min-width: 10%;
    padding-left: 5px;
    float: left;
}
.kdt-table-cell-01-remarks {
    text-align: left;
    min-width: 20%;
    padding-left: 5px;
    float: left;
}
.kdt-table-cell-01-orderonline {
    text-align: center;
    min-width: 10%;
    float: left;
}

.kdt-div-hlink {
    text-align: center;
    border-radius: 1px;
    background-color: #FFF;
    opacity: 1;
    display: inline-block;
    height: 60px;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    opacity: .7;
}

    .kdt-div-hlink h1 {
        color: #b01000;
        font-weight: normal;
        font-size: 30px;
        width: 200px;
        height: 40px;
        padding-top: 10px;
        border-radius: 20px;
        opacity: 1;
    }


.kdt-image-01-contact {
    text-align: left;
    border: none;
    /*border-bottom: 1px solid #fadf60;*/
    /*border-bottom:1px solid #ffb400;*/
    width: 100%;
    display:normal;
    padding-left:10px;
    padding-right:10px;
}

.kdt-div-hlink-button {
    text-align: center;
    border-radius: 5px;
    background-color: #b01000;
    opacity: 1;
    display: inline-block;
    height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 0px;
}

.kdt-div-hlink-button h1 {
    color: #ffb400;
    font-weight: normal;
    font-size: 18px;
    width: 200px;
    height: 40px;
    padding-top: 10px;
    text-align:center;
    border-radius:20px;
}
